@font-face{
	font-family: "Aksara Jawa"; 
	src: url('Aksara Jawa.TTF');
}


body{
	margin: 0%;
}


.header {
	background: url('image/header.png');
	background-repeat: no-repeat;
	margin-top: -5%;
	font-family: "Aksara Jawa";
	width: 100%;
	color: white;

}

p{            /*tulisan jamain*/
	padding: 3% 3% 3% 5%;
	font-size: 45px;
}


.menu{
  margin-left: 15%;
  margin-top: -10%;
  width: 85%;
  font-family: "book Antiqua";
}

.menu ul {
  list-style-type: none;
  overflow: hidden;
}

.menu ul li {
  float: left;
  padding-right: 5%;
  padding-left: 5%;  
}

.menu li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 16px ;
  text-decoration: none;
}

.menu li a:hover{
  background-color: #CBAEA2;
  padding: 16px 16px ;
  opacity: 1;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 40%;
}

li.dropdown {
  display: inline-block;
}

.dropdown:hover .isi{
  display: block;
}

.isi {
  position: absolute;
  display: none;
  background-color: #CBAEA2;
  width: 8%;
  padding-left: 1px;
}

.isi a:hover {
  color: black ; 
}

#cari{              /*input cari*/
  display: none;
  margin-top: 1%;
  border-radius: 5px;
  width: 15%;
}

#loop{
  float: right;
  margin-right: 10%;
  margin-top: 1%;
  width: 3%;
  height: 3%;

}

#bahasa{ 
	margin-top: -10%;
	width: 100%;
}

#bahasa select{
  padding: 1% 12% 1% 2%;
  font-size: 18px;
  line-height: 1%;
  width: 40%;   /*ngubah kotaknya*/
  margin-right: 1%;
  margin-left: 3%;  
}

.translate{ /*button translate*/
  background: #5C92F0;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 15%;
  float: right;
  margin: 2% 4%;

}

.switch{
  margin: 2% 2% 0% 4%;
  width: 2%;
  height: 2%;
}

.kotak { /*kotak translate*/
  width: 100%;
  padding-bottom: 10%;
}
.textarea1{
	width: 40%; /*ngubah kotaknya*/
	margin-top: 3%;
	font-size: 18px;
	margin-right: 2%;
	margin-left: 3%;
}
.textarea2{
  width: 40%; /*ngubah kotaknya*/
  margin-top: 3%;
  font-size: 18px;
  margin-right: 2%;
  margin-left: 10%;
}


.p1{
  float: left;
  padding: 2% 3% 1% 3%;
	font-size: 18px;
  color: white;
  width: 25%;
  margin-left: 2%;
}

.findus{
  float: left;
  padding: 1% 6% 1% 0%;
  text-align: center;
  font-size: 16px;
  color: white;
  width: 25%;
  margin-left: 40%;
}

#footer{
	background: url('image/footer.png');
	background-repeat: no-repeat;
 }

#footer:after{
  content: "";
  display: block;
  clear: both;
}

img{
  width: 7%;
  height: 7%;
}

.Aksara{
  margin-top: -10%;
}

.nav ul{
	float: left;
	height: 70%;
	width: 90%;
	list-style-type: none;
	font-size: 16px;
}

.nav ul li a{
  color: black;
	text-decoration: none;
	display: block;
	margin: 1% 3%;
	padding: 5%;
}

.nav ul li a:hover{
	background-color: #CBAEA2;
}

.column { /*kolomn yang bisa diisi*/
	float: left;
	padding: 10px;
  width: 76%;
  margin-top: -7%;
  height: 100%;
}

.column.side{ /*kolom buat menunya*/
	width: 20%;
	height: 60%;
  margin-top: -7%;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column {width: 100%; } }

.list{
    display: block;
    overflow: auto;

}

.content{
  font-size: 15px;
  padding: 1% 1%;
}

.tabel{
  width: 40%;
  height: 40%;
  padding-right: 3%;
}

@media only screen and (max-width: 360px){
.header {
  padding-top: 2%;
  margin-top: -7%;
  line-height: 3%;
}
p{
  font-size: 24px;
}

.menu{
  width: 75%;
}

.isi {
  width: 26%;

}

#cari{
  position: initial;
  display: none;
  border-radius: 5px;
  width: 30%;
}

#loop{
  width: 10%;
  height: 10%;

}
.Aksara{
  margin-top: -5%;
}
.nav ul li a:hover{
  background-color: #CBAEA2;
  width: 50%;
}
#bahasa select{
  font-size: 12px;
  width: 35%; 
}
#bahasa {
  margin-top: -10%;
}
.switch{
  width: 5%;
  height: 5%;
}
.translate{ /*button translate*/
  font-size: 12px;
  width: 30%;
}
.textarea1{
  width: 30%; /*ngubah kotaknya*/
}
.textarea2{
  width: 30%; /*ngubah kotaknya*/
}
.kotak{
  padding-bottom: 20%;
}
.findus{
  font-size: 12px;
  color: white;
  margin-left: 40%;
}

}



@media only screen and (min-width: 360px) and (max-width: 420px) {
.header {
  padding-top: 2%;
  margin-top: -7%;
  line-height: 3%;
}
p{
  font-size: 28px;
}

.menu{
  width: 75%;
}

.isi {
  width: 27%;

}

#cari{
  position: initial;
  display: none;
  border-radius: 5px;
  width: 30%;
}

#loop{
  width: 8%;
  height: 8%;

}
.Aksara{
  margin-top: -3%;
}

.nav ul li a:hover{
  background-color: #CBAEA2;
  width: 37%;
}
#bahasa select{
  font-size: 12px;
  width: 35%; 
}
#bahasa {
  margin-top: -10%;
}
.switch{
  width: 5%;
  height: 5%;
}
.translate{ /*button translate*/
  width: 30%;
}
.textarea1{
  width: 30%; /*ngubah kotaknya*/
}
.textarea2{
  width: 30%; /*ngubah kotaknya*/
}
.kotak{
  padding-bottom: 20%;
}
.findus{
  font-size: 12px;
  color: white;
  margin-left: 40%;
}

}

@media screen and (min-width: 420px) and (max-width: 720px) {
.header {
  padding-top: 3%;
  margin-top: -7%;
  line-height: 3%;
}
p{
  font-size: 30px;
}

.menu{
  width: 70%;
}
.nav ul li a:hover{
  background-color: #CBAEA2;
  width: 70%;
}

.isi {
  width: 24%;

}

#cari{
  position: initial;
  display: none;
  border-radius: 5px;
  width: 30%;
}

#loop{
  width: 6%;
  height: 6%;

}
.Aksara{
  margin-top: -2%;
}
.column.side{ 
  width: 40%;
  height: 60%;
  margin-top: -7%;
}
#bahasa select{
  font-size: 14px;
  width: 35%; 
}
#bahasa {
  margin-top: -8%;
}
.switch{
  width: 5%;
  height: 5%;
}
.translate{ /*button translate*/
  font-size: 12px;
  width: 30%;

}
.textarea1{
  width: 30%; /*ngubah kotaknya*/

}
.textarea2{
  width: 30%; /*ngubah kotaknya*/
}
.kotak{
  padding-bottom: 20%;
}
.findus{
  font-size: 14px;
  color: white;
  margin-left: 40%;
}

}

@media screen and (min-width: 720px) and (max-width: 960px) {
.header {
  padding-top: 2%;
  margin-top: -2%;
  line-height: 3%;
}
p{
  font-size: 36px;
}

.menu{
  margin-left: 20%;
  width: 80%;
}
.nav ul li a:hover{
  background-color: #CBAEA2;
  width: 50%;
}
.isi {
  width: 13%;

}
.column.side{ 
  width: 40%;
  height: 60%;
  margin-top: -7%;
}
#cari{
  float: left;
  border-radius: 5px;
  width: 20%;
}

#loop{
  margin-right: 50%;
  width: 5%;
  height: 5%;

}
.Aksara{
  margin-top: -2%;
}
h2{
  margin-top: 10%;
}
#bahasa select{
  font-size: 18px;
  width: 35%; 
}
#bahasa {
  margin-top: -6%;
}
.switch{
  width: 6%;
  height: 6%;
}
.translate{ /*button translate*/
  font-size: 16px;
  width: 30%;

}
.textarea1{
  width: 40%; /*ngubah kotaknya*/

}
.textarea2{
  width: 40%; /*ngubah kotaknya*/
}
.kotak{
  padding-bottom: 10%;
}
.findus{
  font-size: 16px;
  color: white;
  margin-left: 40%;
}
}