body {
	background-image: url('image/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}



  .menu{
    margin-top: 1%;
    margin-left: 20%;
 
  }

  .menu ul {
    list-style-type: none;
    overflow: hidden;
    
  }

  .menu > ul > li {
    padding-left: 5%;
    padding-right: 5%;
    float: left;
  }

  
  .menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.menu li a:hover{
  padding:16px 32px;
  text-align: right;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 40%;
  margin-right:2%;
  margin-left: 3%;
  background-color: #CBAEA2;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown:hover .isi {
    display: block;
  }

  .isi {
    position: absolute;
    display: none;
    background-color: #CBAEA2;
    padding-left: 0%;
  }

  .isi a:hover {
    color: black ;
    background: black;
  }


@font-face {
   font-family: "Aksara Jawa";
   src: url('Aksara Jawa.TTF');
}
 
.jamain1 {
   font-family: "Aksara Jawa";
   color: #E8E9EC;
   font-size: 60px;
   margin-left: 70%;
}

.text1{
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	margin-left: 50%;
	margin-right: 8%;
}

#tombol{
	background: #5C92F0;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	width: 200px;
	border-radius: 37%;
	margin-left: 63%;
	margin-right: 20%
}

#tombol:hover {
  background-color: #CBAEA2;
  opacity: 1;
 
}

.isinya{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3%;
    padding-bottom: 3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.konten {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.main{
  padding: 5px 6px;
}


.form input {
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;

}
.form .ye{
  width: 4%;
}

.form button{
  background: #5C92F0;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
}
.opsi{
  font-size: 20px;
  text-align: center;
  font-family: "book antiqua";
}

img{
  width: 5%;
  height: 5%;
  padding-left: 3%;
}

.head{
    font-size: 20px;
    padding: 1px 16px;
    background: white;
}

.sosmed{
  padding-top: 8%;
}

.sosmed img{
  width: 3%;
  height: 3%;
  padding-left: 3%;
}
